@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.slider1 {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    to right,
    #4f337d,
    #5a55a9,
    #5a91c7,
    #49c466,
    #d4d271,
    #c27041,
    #d64848
  );
  outline: none;
}

.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: 10px;
  appearance: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom: 15px solid rgb(255, 255, 255);
}

.slider1::-moz-range-thumb {
  width: 35px;
  height: 15px;
  background: #04aa6d;
  cursor: pointer;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, transparent,  #ff4400);
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 38px;
  height: 20px;
  background: #ff4400;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
.a {
  padding: 2px;
  background-color: transparent;
  width: 35px;
  height: 35px;
}
.review-bg {
  background: radial-gradient(rgba(0, 0, 0, 1), #1e1e1e, #1e1e1e);
}
.bg {
  background: radial-gradient(rgba(56, 21, 3, 0.9), rgba(0, 0, 0, 1));
  /* background: red; */
}
.bg1 {
  background: radial-gradient(
    60% 80% at center,
    rgb(6, 41, 54),
    rgb(6, 41, 54),
    #111111,
    #111111
  );
}
@media only screen and (max-width: 700px) {
  .bg1 {
    background: radial-gradient(
      100% 90% at center,
      rgb(6, 41, 54),
      rgb(6, 41, 54),
      #111111,
      #111111
    );
  }
}
.bg2 {
  background: radial-gradient(
    60% 80% at center,
    rgb(6, 41, 54),
    rgb(6, 41, 54),
    #111111,
    #111111
  );
}
@media only screen and (max-width: 700px) {
  .bg2 {
    background: radial-gradient(
      100% 40% at center,
      rgb(6, 41, 54),
      rgb(6, 41, 54),
      #111111,
      #111111
    );
  }
}
.bgorange {
  background: radial-gradient(
    60% 40% at center,
    rgba(241, 99, 47, 0.35),
    rgba(126, 57, 32, 0.35),
    #111111,
    #111111,
    #111111,
    #111111
  );
  background-attachment: fixed;
  overflow: hidden;
}
@media only screen and (max-width: 700px) {
  .bgorange {
    background: radial-gradient(
      110% 50% at center,
      rgba(241, 99, 47, 0.35),
      rgba(126, 57, 32, 0.35),
      #111111,
      #111111,
      #111111,
      #111111
    );
    background-attachment: fixed;
    overflow: hidden;
  }
}
.fading {
  opacity: 1;
  animation: fading 2s ease-in-out 0s infinite;
}
@keyframes fading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.half-animation {
  transform: scale(1.2);
  animation: scale 2s ease-in-out 0s infinite;
  overflow: hidden;
}
@keyframes scale {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(0.4);
  }
}

/* .home-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1)),
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='700' preserveAspectRatio='none' viewBox='0 0 1440 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1415%26quot%3b)' fill='none'%3e%3crect width='1440' height='700' x='0' y='0' fill='rgba(41%2c 37%2c 36%2c 1)'%3e%3c/rect%3e%3cpath d='M72.27 731.59L144.15 773.09L144.15 856.09L72.27 897.59L0.39 856.09L0.39 773.09zM287.92 109.09L359.8 150.59L359.8 233.59L287.92 275.09L216.03 233.59L216.03 150.59zM216.03 233.59L287.92 275.09L287.92 358.09L216.03 399.59L144.15 358.09L144.15 275.09zM216.03 482.59L287.92 524.09L287.92 607.09L216.03 648.59L144.15 607.09L144.15 524.09zM287.92 607.09L359.8 648.59L359.8 731.59L287.92 773.09L216.03 731.59L216.03 648.59zM216.03 731.59L287.92 773.09L287.92 856.09L216.03 897.59L144.15 856.09L144.15 773.09zM359.8 -15.41L431.68 26.09L431.68 109.09L359.8 150.59L287.92 109.09L287.92 26.09zM359.8 233.59L431.68 275.09L431.68 358.09L359.8 399.59L287.92 358.09L287.92 275.09zM431.68 358.09L503.56 399.59L503.56 482.59L431.68 524.09L359.8 482.59L359.8 399.59zM359.8 482.59L431.68 524.09L431.68 607.09L359.8 648.59L287.92 607.09L287.92 524.09zM431.68 607.09L503.56 648.59L503.56 731.59L431.68 773.09L359.8 731.59L359.8 648.59zM503.56 -15.41L575.45 26.09L575.45 109.09L503.56 150.59L431.68 109.09L431.68 26.09zM575.45 109.09L647.33 150.59L647.33 233.59L575.45 275.09L503.56 233.59L503.56 150.59zM575.45 358.09L647.33 399.59L647.33 482.59L575.45 524.09L503.56 482.59L503.56 399.59zM503.56 482.59L575.45 524.09L575.45 607.09L503.56 648.59L431.68 607.09L431.68 524.09zM503.56 731.59L575.45 773.09L575.45 856.09L503.56 897.59L431.68 856.09L431.68 773.09zM719.21 109.09L791.09 150.59L791.09 233.59L719.21 275.09L647.33 233.59L647.33 150.59zM647.33 233.59L719.21 275.09L719.21 358.09L647.33 399.59L575.45 358.09L575.45 275.09zM719.21 358.09L791.09 399.59L791.09 482.59L719.21 524.09L647.33 482.59L647.33 399.59zM647.33 482.59L719.21 524.09L719.21 607.09L647.33 648.59L575.45 607.09L575.45 524.09zM647.33 731.59L719.21 773.09L719.21 856.09L647.33 897.59L575.45 856.09L575.45 773.09zM791.09 -15.41L862.97 26.09L862.97 109.09L791.09 150.59L719.21 109.09L719.21 26.09zM862.97 358.09L934.86 399.59L934.86 482.59L862.97 524.09L791.09 482.59L791.09 399.59zM791.09 482.59L862.97 524.09L862.97 607.09L791.09 648.59L719.21 607.09L719.21 524.09zM934.86 -15.41L1006.74 26.09L1006.74 109.09L934.86 150.59L862.97 109.09L862.97 26.09zM934.86 233.59L1006.74 275.09L1006.74 358.09L934.86 399.59L862.97 358.09L862.97 275.09zM1078.62 -15.41L1150.5 26.09L1150.5 109.09L1078.62 150.59L1006.74 109.09L1006.74 26.09zM1078.62 482.59L1150.5 524.09L1150.5 607.09L1078.62 648.59L1006.74 607.09L1006.74 524.09zM1150.5 607.09L1222.38 648.59L1222.38 731.59L1150.5 773.09L1078.62 731.59L1078.62 648.59zM1078.62 731.59L1150.5 773.09L1150.5 856.09L1078.62 897.59L1006.74 856.09L1006.74 773.09zM1222.38 233.59L1294.27 275.09L1294.27 358.09L1222.38 399.59L1150.5 358.09L1150.5 275.09zM1222.38 482.59L1294.27 524.09L1294.27 607.09L1222.38 648.59L1150.5 607.09L1150.5 524.09zM1222.38 731.59L1294.27 773.09L1294.27 856.09L1222.38 897.59L1150.5 856.09L1150.5 773.09zM1366.15 482.59L1438.03 524.09L1438.03 607.09L1366.15 648.59L1294.27 607.09L1294.27 524.09zM1366.15 731.59L1438.03 773.09L1438.03 856.09L1366.15 897.59L1294.27 856.09L1294.27 773.09zM1581.8 109.09L1653.68 150.59L1653.68 233.59L1581.8 275.09L1509.91 233.59L1509.91 150.59zM1509.91 233.59L1581.8 275.09L1581.8 358.09L1509.91 399.59L1438.03 358.09L1438.03 275.09zM1581.8 607.09L1653.68 648.59L1653.68 731.59L1581.8 773.09L1509.91 731.59L1509.91 648.59z' stroke='rgba(0%2c 0%2c 0%2c 0)' stroke-width='2'%3e%3c/path%3e%3cpath d='M63.97 731.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM135.85 773.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM135.85 856.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM63.97 897.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM-7.91 856.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM-7.91 773.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM279.62 109.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM351.5 150.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM351.5 233.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM279.62 275.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM207.73 233.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM207.73 150.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM279.62 358.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM207.73 399.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM135.85 358.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM135.85 275.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM207.73 482.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM279.62 524.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM279.62 607.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM207.73 648.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM135.85 607.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM135.85 524.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM351.5 648.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM351.5 731.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM279.62 773.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM207.73 731.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM279.62 856.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM207.73 897.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM351.5 -15.41 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM423.38 26.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM423.38 109.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM279.62 26.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM423.38 275.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM423.38 358.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM351.5 399.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM495.26 399.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM495.26 482.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM423.38 524.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM351.5 482.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM423.38 607.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM495.26 648.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM495.26 731.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM423.38 773.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM495.26 -15.41 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM567.15 26.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM567.15 109.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM495.26 150.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM639.03 150.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM639.03 233.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM567.15 275.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM495.26 233.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM567.15 358.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM639.03 399.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM639.03 482.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM567.15 524.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM567.15 607.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM567.15 773.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM567.15 856.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM495.26 897.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM423.38 856.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM710.91 109.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM782.79 150.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM782.79 233.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM710.91 275.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM710.91 358.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM782.79 399.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM782.79 482.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM710.91 524.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM710.91 607.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM639.03 648.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM639.03 731.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM710.91 773.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM710.91 856.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM639.03 897.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM782.79 -15.41 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM854.67 26.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM854.67 109.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM710.91 26.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM854.67 358.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM926.56 399.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM926.56 482.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM854.67 524.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM854.67 607.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM782.79 648.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM926.56 -15.41 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM998.44 26.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM998.44 109.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM926.56 150.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM926.56 233.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM998.44 275.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM998.44 358.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM854.67 275.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1070.32 -15.41 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1142.2 26.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1142.2 109.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1070.32 150.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1070.32 482.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1142.2 524.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1142.2 607.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1070.32 648.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM998.44 607.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM998.44 524.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1214.08 648.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1214.08 731.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1142.2 773.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1070.32 731.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1142.2 856.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1070.32 897.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM998.44 856.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM998.44 773.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1214.08 233.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1285.97 275.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1285.97 358.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1214.08 399.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1142.2 358.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1142.2 275.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1214.08 482.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1285.97 524.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1285.97 607.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1285.97 773.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1285.97 856.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1214.08 897.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1357.85 482.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1429.73 524.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1429.73 607.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1357.85 648.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1357.85 731.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1429.73 773.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1429.73 856.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1357.85 897.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1573.5 109.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1645.38 150.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1645.38 233.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1573.5 275.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1501.61 233.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1501.61 150.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1573.5 358.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1501.61 399.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1429.73 358.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1429.73 275.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1573.5 607.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1645.38 648.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1645.38 731.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1573.5 773.09 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1501.61 731.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0zM1501.61 648.59 a8.3 8.3 0 1 0 16.6 0 a8.3 8.3 0 1 0 -16.6 0z' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/path%3e%3cpath d='M0 -76L65.82 -38L65.82 38L0 76L-65.82 38L-65.82 -38zM65.82 38L131.64 76L131.64 152L65.82 190L0 152L0 76zM0 152L65.82 190L65.82 266L0 304L-65.82 266L-65.82 190zM65.82 266L131.64 304L131.64 380L65.82 418L0 380L0 304zM0 380L65.82 418L65.82 494L0 532L-65.82 494L-65.82 418zM65.82 494L131.64 532L131.64 608L65.82 646L0 608L0 532zM0 608L65.82 646L65.82 722L0 760L-65.82 722L-65.82 646zM131.64 -76L197.46 -38L197.46 38L131.64 76L65.82 38L65.82 -38zM197.46 38L263.28 76L263.28 152L197.46 190L131.64 152L131.64 76zM131.64 152L197.46 190L197.46 266L131.64 304L65.82 266L65.82 190zM197.46 266L263.28 304L263.28 380L197.46 418L131.64 380L131.64 304zM131.64 380L197.46 418L197.46 494L131.64 532L65.82 494L65.82 418zM197.46 494L263.28 532L263.28 608L197.46 646L131.64 608L131.64 532zM131.64 608L197.46 646L197.46 722L131.64 760L65.82 722L65.82 646zM263.28 -76L329.1 -38L329.1 38L263.28 76L197.46 38L197.46 -38zM329.1 38L394.92 76L394.92 152L329.1 190L263.28 152L263.28 76zM263.28 152L329.1 190L329.1 266L263.28 304L197.46 266L197.46 190zM329.1 266L394.92 304L394.92 380L329.1 418L263.28 380L263.28 304zM263.28 380L329.1 418L329.1 494L263.28 532L197.46 494L197.46 418zM329.1 494L394.92 532L394.92 608L329.1 646L263.28 608L263.28 532zM263.28 608L329.1 646L329.1 722L263.28 760L197.46 722L197.46 646zM394.92 -76L460.74 -38L460.74 38L394.92 76L329.1 38L329.1 -38zM460.74 38L526.56 76L526.56 152L460.74 190L394.92 152L394.92 76zM394.92 152L460.74 190L460.74 266L394.92 304L329.1 266L329.1 190zM460.74 266L526.56 304L526.56 380L460.74 418L394.92 380L394.92 304zM394.92 380L460.74 418L460.74 494L394.92 532L329.1 494L329.1 418zM460.74 494L526.56 532L526.56 608L460.74 646L394.92 608L394.92 532zM394.92 608L460.74 646L460.74 722L394.92 760L329.1 722L329.1 646zM526.56 -76L592.38 -38L592.38 38L526.56 76L460.74 38L460.74 -38zM592.38 38L658.2 76L658.2 152L592.38 190L526.56 152L526.56 76zM526.56 152L592.38 190L592.38 266L526.56 304L460.74 266L460.74 190zM592.38 266L658.2 304L658.2 380L592.38 418L526.56 380L526.56 304zM526.56 380L592.38 418L592.38 494L526.56 532L460.74 494L460.74 418zM592.38 494L658.2 532L658.2 608L592.38 646L526.56 608L526.56 532zM526.56 608L592.38 646L592.38 722L526.56 760L460.74 722L460.74 646zM658.2 -76L724.02 -38L724.02 38L658.2 76L592.38 38L592.38 -38zM724.02 38L789.84 76L789.84 152L724.02 190L658.2 152L658.2 76zM658.2 152L724.02 190L724.02 266L658.2 304L592.38 266L592.38 190zM724.02 266L789.84 304L789.84 380L724.02 418L658.2 380L658.2 304zM658.2 380L724.02 418L724.02 494L658.2 532L592.38 494L592.38 418zM724.02 494L789.84 532L789.84 608L724.02 646L658.2 608L658.2 532zM658.2 608L724.02 646L724.02 722L658.2 760L592.38 722L592.38 646zM789.84 -76L855.66 -38L855.66 38L789.84 76L724.02 38L724.02 -38zM855.66 38L921.48 76L921.48 152L855.66 190L789.84 152L789.84 76zM789.84 152L855.66 190L855.66 266L789.84 304L724.02 266L724.02 190zM855.66 266L921.48 304L921.48 380L855.66 418L789.84 380L789.84 304zM789.84 380L855.66 418L855.66 494L789.84 532L724.02 494L724.02 418zM855.66 494L921.48 532L921.48 608L855.66 646L789.84 608L789.84 532zM789.84 608L855.66 646L855.66 722L789.84 760L724.02 722L724.02 646zM921.48 -76L987.3 -38L987.3 38L921.48 76L855.66 38L855.66 -38zM987.3 38L1053.12 76L1053.12 152L987.3 190L921.48 152L921.48 76zM921.48 152L987.3 190L987.3 266L921.48 304L855.66 266L855.66 190zM987.3 266L1053.12 304L1053.12 380L987.3 418L921.48 380L921.48 304zM921.48 380L987.3 418L987.3 494L921.48 532L855.66 494L855.66 418zM987.3 494L1053.12 532L1053.12 608L987.3 646L921.48 608L921.48 532zM921.48 608L987.3 646L987.3 722L921.48 760L855.66 722L855.66 646zM1053.12 -76L1118.94 -38L1118.94 38L1053.12 76L987.3 38L987.3 -38zM1118.94 38L1184.76 76L1184.76 152L1118.94 190L1053.12 152L1053.12 76zM1053.12 152L1118.94 190L1118.94 266L1053.12 304L987.3 266L987.3 190zM1118.94 266L1184.76 304L1184.76 380L1118.94 418L1053.12 380L1053.12 304zM1053.12 380L1118.94 418L1118.94 494L1053.12 532L987.3 494L987.3 418zM1118.94 494L1184.76 532L1184.76 608L1118.94 646L1053.12 608L1053.12 532zM1053.12 608L1118.94 646L1118.94 722L1053.12 760L987.3 722L987.3 646zM1184.76 -76L1250.58 -38L1250.58 38L1184.76 76L1118.94 38L1118.94 -38zM1250.58 38L1316.4 76L1316.4 152L1250.58 190L1184.76 152L1184.76 76zM1184.76 152L1250.58 190L1250.58 266L1184.76 304L1118.94 266L1118.94 190zM1250.58 266L1316.4 304L1316.4 380L1250.58 418L1184.76 380L1184.76 304zM1184.76 380L1250.58 418L1250.58 494L1184.76 532L1118.94 494L1118.94 418zM1250.58 494L1316.4 532L1316.4 608L1250.58 646L1184.76 608L1184.76 532zM1184.76 608L1250.58 646L1250.58 722L1184.76 760L1118.94 722L1118.94 646zM1316.4 -76L1382.22 -38L1382.22 38L1316.4 76L1250.58 38L1250.58 -38zM1382.22 38L1448.04 76L1448.04 152L1382.22 190L1316.4 152L1316.4 76zM1316.4 152L1382.22 190L1382.22 266L1316.4 304L1250.58 266L1250.58 190zM1382.22 266L1448.04 304L1448.04 380L1382.22 418L1316.4 380L1316.4 304zM1316.4 380L1382.22 418L1382.22 494L1316.4 532L1250.58 494L1250.58 418zM1382.22 494L1448.04 532L1448.04 608L1382.22 646L1316.4 608L1316.4 532zM1316.4 608L1382.22 646L1382.22 722L1316.4 760L1250.58 722L1250.58 646z' stroke='rgba(255%2c 230%2c 217%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1415'%3e%3crect width='1440' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  height: 100vh;
  width: 100vw;
} */

.home-bg {
  height: 100vh;
  width: 100vw;

  /* background: linear-gradient(rgba(0, 0, 0,0.8), rgba(0, 0, 0, 0.8)),
    url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 20 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23264626' fill-opacity='0.9'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background: linear-gradient(rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 1)),
    url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 20 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23505050' fill-opacity='0.63'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.home-bg1 {
  height: 100vh;
  width: 100vw;

  /* background: linear-gradient(rgba(0, 0, 0,0.8), rgba(0, 0, 0, 0.8)),
    url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 20 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23264626' fill-opacity='0.9'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  /* background:linear-gradient(rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 1)), url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 20 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23505050' fill-opacity='0.63'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-color: #111111;
  z-index: 0;
  /* background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1)); */
}
